html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-style: solid; /* Change border style */
    border-color: #72a8d1; /* Change border color */
    border-width: 10px; /* Change border width */
    text-align: center;
}

header {
    height: 100px;
    background-color: #4a90e2; /* Change background color */
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Change font family */
    font-size: 25px;
    padding: 15px;
}

section {
    flex: 1;
    display: flex;
}

article {
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Change font family */
    font-size: 18px; /* Change font size */
    padding: 20px; /* Change padding */
    line-height: 1.5em; /* Adjust line height */
    background: #f9f9f9; /* Change background color */
    color: #333; /* Change text color */
    font-weight: 400; /* Change font weight */
}

#idResult {
    padding: 20px;
    font-size: 18px; /* Change font size */
}

article button {
    background-color: #4c4c4c; /* Change button background color */
    border: none;
    color: #FFF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; /* Change font size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust box shadow */
}

footer {
    height: 40px;
    background-color: #4a90e2; /* Change background color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Change font family */
    color: #FFF;
    clear: both;
    padding: 10px; /* Change padding */
}
